$color-disc: rgb(102, 0, 0);

.product{
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    img {
        width:100%;
        max-width: 350px;
        height: auto;
    }
    .containerInfoItem {
        padding: 10px;
        width: 300px !important;
        color: #000;
        .itemName {
            font-weight: bold;
            margin-bottom: 5px;
            font-size: 24px;
        }  
        .itemPrice {
            margin: 0;
            font-size: 22px;
        } 
        .priceWithoutDiscount {
            text-decoration:line-through $color-disc;
        }
        .discountPrice {
            color: $color-disc;
        }
    }
    .discount {
        right: 0;
        margin: 10px;
        font-size: 22px;
        border-radius: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:rgb(102, 0, 0);
        width: 50px !important;
        height: 50px;
        font-weight: normal;
    }
    .noStock {
        border: none;
        background-color: rgb(102, 0, 0);
        color: #fff;
        top: 10px;
        right: 10px;
        position: absolute;
        font-size: 20px;
        border-radius: 50%;
        width: 72.5px;
        height: 72.5px;
        opacity: 80%;
    }
}