.containerListTitle {
    font-family: 'Staatliches';
    font-size: 30px;
    .productCatalog {
        width: 1300.33px;
        margin: 0px auto;
        padding-bottom: 30px;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        gap: 33.33px;
        div {
            width: 300px;
        }
    }
    .containerShopLinks {
        gap: 50px;
        margin-bottom: 40px;
        span {
            color: black;
        }
    }
    .sm-header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        max-width: 1300.33px;
        h1 {
            color: black;
            text-transform: uppercase;
            width: 675px;
            letter-spacing: 1px;
        }
        .smh-line {
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background-color: black;
        }
    }
}