header{
    img {  
        width: 60px !important;
        border-radius: 50%;
        width: auto;
    }
    form {
        font-family: 'Courier New', Courier, monospace;
        position: relative;
        display: flex;
        margin-right: 20px;
        input {
            font-size: 18px;
            padding: 7.5px;
            height: 40px;
            border-radius: 2%;
            outline: none;
            border: none;
            width: 300px;
        }
        button {
            height: 40px;
            border: none !important;
            position: absolute;
            right: 0;
            width: 45px;
            svg{
                font-size: 36px !important;
                color: #000;
            }
        }
    }
    nav {
        height: 75px;
    }
    .logo {
        border-radius: 50%;
    }
    .nav-link {
        @extend .secondaryFont;
        font-size: 20px;
    }
    form{
        button{
            background-color: transparent;
            border-radius: 10%;
            color: white;
            border:1px solid white;
        } 
    }
    svg {
        @extend .cartWidget;
        margin-right: 10px;
        border-radius: 0 !important;
        font-size: 30px !important;
    }
    .containerUserWidget {
        display: flex;
        gap: 20px
    }
}
.dropdown-toggle::after {
    display: none !important;
}