.productDetail{
    position: relative;
    height: 600px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.itemDetailContainer{
    width: 1400px;
    margin: 50px auto;
}
.containerInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 26px;
    font-family: 'Staatliches';
}
.nameItemDetail{
    font-size: 32px;
    font-weight: bold;
}